.background {
  background-color: var(--color-secondary);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 90px;
  height: 87px;
  margin-bottom: 24px;
}

.pleaseText {
  font-family: 'Roboto';
  font-size: 1.7rem;
  margin-bottom: 13px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  width: 251px;
  padding: 12px 23px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  outline: none;
  font-family: 'Roboto';
  margin-bottom: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkboxText {
  font-family: 'Roboto';
}

.checkboxInput {
  margin-right: 5px;
}

.error {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: var(--color-danger-bg);
  color: var(--color-danger);
  border: 1px solid var(--color-danger-border);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Roboto';
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.button {
  cursor: pointer;
  width: 100%;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  border-radius: 5px;
  color: var(--white);
  font-family: 'Roboto';
  border: 0;
  padding: 10px;
  margin-bottom: 60px;
  border: 1px solid var(--color-primary);
  transition: 0.3s;

  &:hover {
    color: var(--color-primary);
    background-color: var(--white);
  }
}

.dates {
  font-family: 'Roboto';
  font-size: 1.1rem;
  color: var(--gray-darken);
}