.button {
  cursor: pointer;
  color: var(--black);
  font-family: 'Roboto';
  background: none;
  border: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}